a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: darkgray;
}

.navText {
  display: inline-block;
  padding-left: 6px;
  color: rgb(252, 19, 174);
}

mat-icon {
  color: rgb(252, 19, 174);
}
