#container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  padding: 20px 0px;
  height: 70vh;
}

mat-card {
  /* width: 50vw; */
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-radius: 20px;
  /* align-items: center; */
}

form {
  grid-column: 2 / 3;
  width: 400px;
}

.item {
  grid-column: 2 / 3;
}

button {
  margin: 15px;
}



