<section id="container">
  <mat-card>
    <mat-card-title>Missions</mat-card-title>
    <mat-card-content>
      <p>Content to go here...</p>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <h3>Donations are very appreciated!</h3>
        <a href="https://www.paypal.com/paypalme/ACTS9612?locale.x=en_US&fbclid=IwAR0TJdlyMQeMwzAAbDh7e5Df9OLnLaGAb552L1cJ1mSjXasKzdHGhuoOKXE" target="blank">
          <button mat-raised-button color="accent">
            Donate
          </button>
          </a>
      </div>
      <div>
        <h3>Send us a prayer requests</h3>
        <a href="mailto:Acts9612@Yahoo.com">
          <button mat-raised-button color="accent">Prayer Request</button>
        </a>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
