#container {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 75vw) 1fr;
  width: 100vw;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

mat-card {
  border: solid black 2px;
  border-radius: 15px;
  grid-column: 2 / 3;
  /* padding: 40px; */
  min-height: 66vh;
}

mat-card-title {
  text-align: center;
  /* padding: 20px; */
}

mat-card-actions {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

