#container {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 75vw) 1fr;
  width: 100vw;
  margin-top: 20px;
  justify-content: center;
}

mat-card {
  border: solid black 1px;
  grid-column: 2 / 3;
  padding: 40px;
}

mat-card-title {
  text-align: center;
  /* padding: 20px; */
}

mat-card-actions {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
