mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 75vw;
}

main {
  background-color: #43DDE6;
}

footer {
  background-color: #18FFFF;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  /* color: accent; */
}

p {
  color: rgb(252, 19, 174);
  padding: 0px 15px;
}

a {
  color: rgb(252, 19, 174);

}

a:hover {
  color: rgb(255, 255, 255);
}

.contactUs {
  display: flex;
  justify-content: space-evenly;
}

.fa {
  font-size: 20px;
  text-decoration: none;
  color: rgb(252, 19, 174);
}
